
## <summary>policy for ufy</summary>


########################################
## <summary>
##	Transition to ufy.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ufy_domtrans',`
	gen_require(`
		type ufy_t, ufy_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ufy_exec_t, ufy_t)
')


########################################
## <summary>
##	Execute ufy server in the ufy domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ufy_initrc_domtrans',`
	gen_require(`
		type ufy_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ufy_initrc_exec_t)
')


########################################
## <summary>
##	Search ufy lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ufy_search_lib',`
	gen_require(`
		type ufy_var_lib_t;
	')

	allow $1 ufy_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ufy lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ufy_read_lib_files',`
	gen_require(`
		type ufy_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ufy_var_lib_t, ufy_var_lib_t)
')

########################################
## <summary>
##	Manage ufy lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ufy_manage_lib_files',`
	gen_require(`
		type ufy_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ufy_var_lib_t, ufy_var_lib_t)
')

########################################
## <summary>
##	Manage ufy lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ufy_manage_lib_dirs',`
	gen_require(`
		type ufy_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ufy_var_lib_t, ufy_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ufy environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ufy_admin',`
	gen_require(`
		type ufy_t;
		type ufy_initrc_exec_t;
		type ufy_var_lib_t;
	')

	allow $1 ufy_t:process { ptrace signal_perms };
	ps_process_pattern($1, ufy_t)

	ufy_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ufy_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ufy_var_lib_t)

')

